<ul>
  <% @movies.each do |movie| %>
    <li>
      <b><%= movie.title %></b> (<%= movie.rating%>): <%= total_gross(movie) %>
      <p><%= truncate(movie.description, length: 40, separator: ' ') %></p>
      <p><%= year_of(movie) %></p>
    </li>
  <% end %>
</ul>